.projectContainer {
  position: relative;
  background-color: rgb(34, 30, 40);
  padding: 10px;
  border-radius: 5px;
}

.projectContainer:hover {
  background-color: rgb(51, 32, 61);
  cursor: pointer;
  transform: scale(1.025);
}

.projectTextWrapper {
  position: absolute;
  top: 0;
}

.projectTitle {
  color: rgb(220,220,220);
}

.projectImage {
  position: relative;
  width: 14vw;
  height: 18vw;
  padding: 5px;
  object-fit: cover;
  opacity: 0;
}