.projects {
  padding-top: 15%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 1vw;
  padding: 10%;
}

.viewMore {
  color: white;
}

