.projects {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: vw;
  padding: 20%;
  padding-top: 15%;
  padding-bottom: 2.5%;

}

.viewMore {
  color: white;
}

