
.activity {
    cursor: pointer;
    position: relative;
    background-color: rgb(55, 53, 53);
    color: #fbfaf6;
    user-select: none;
    width: 34vw;
    font: 1.45vw 'Roboto Mono', monospace;
    padding: 10px;
    border: 2px solid #fbfaf6;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.75s ease-in;
}

.activityClicked {
    cursor: pointer;
    position: relative;
    background-color: rgb(55, 53, 53);
    color: #fbfaf6;
    user-select: none;
    font: 1.45vw 'Roboto Mono', monospace;
    padding: 10px;
    width: 27.5%;
    border: 2px solid #fbfaf6;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.4s ease-out;
}
/* 
.activity::before {
    position: absolute;
    background-color: rgb(55, 53, 53);
    content: '';
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.75s ease-in;
}


.activityClicked::before {
    position: absolute;
    background-color: rgb(55, 53, 53);
    content: '';
    width: 66%;
    height: 100%;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.4s ease-out;
} */