.headshotContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  border-radius: 5px;
}

.headshot {
  position: absolute;
  height: 90%;
  width: 90%;
  object-fit: cover;
  border: 5px solid #362f41;
  border-radius: 2.5px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.286);
}

@media screen and (max-width: 768px) {
  .headshotContainer {
    height: 50vw;
    width: 50vw;
  }
}
