.sideContainer{
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    padding: 10px;
    margin-left: 10px;
}

.sideIconContainer{
    padding: 7.5px;
    margin: 15px;
    margin-top:0;
    margin-bottom:0;
    border-radius:50%;
    border: 2px solid #fbfaf6;
    opacity: 0.5;
    transition: 0.15s ease-in;
}

.sideIcon{
    height: 2.4em;
    width: 2.5em;
}
.sideIconContainer:hover{
    cursor:pointer;
    opacity:0.75;
    transition: 0.1s ease-out;
}

.sideLine{
    position:relative;
    background-color: #fbfaf6;
    width: 4px;
    height: 20px;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
}