.sideContainer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  margin-right: 25px;
  right: 0;
  z-index: 100;
}

.sideIconContainer {
  display: block;
  padding: 7.5px;
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 2px solid #fbfaf6;
  opacity: 0.7;
  transition: 0.15s ease-in;
}

.sideIcon {
  height: 2.3vw;
  width: 2.5vw;
}
@media screen and (max-width: 768px) {
  .sideContainer {
    display: none;
  }
}

.sideIconContainer:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.1s ease-out;
}

.sideLine {
  position: relative;
  background-color: #fbfaf6;
  width: 3px;
  height: 20px;
  left: 50%;
  opacity: 0.5;
  transform: translateX(-50%);
}
