.projectContainer {
  position: relative;
  background-color: rgb(34, 23, 54);
  padding: 10px;
  border-radius: 5px;
}

.projectTextWrapper {
  position: absolute;
  top: 0;
}

.projectTitle {
  color: white;
}

.projectImage {
  position: relative;
  width: 14vw;
  height: 18vw;
  padding: 5px;
  object-fit: cover;
  opacity: 0.25;
}
